{% extends 'base.html.twig' %}


{% block body %}

    <div class="row">
        <h3>State Machines</h3>
        <div class="col-md-6">
            {% for workflow in workflows %}
                {% set definition = workflow.definition %}
                <h4><u>{{ workflow.name }}</u>
                    <i>Supports
                     {{ workflowsConfiguration[workflow.name].supports|join(', ') }}
                    </i>
                </h4>
                <h5>Places</h5>
                <ul>
                    {% for place in definition.places %}
                        <li>{{ place }}</li>
                    {% endfor %}
                </ul>
                <h5>Transitions</h5>
                <ul>
                    {% for t in definition.transitions %}
                        <li>{{ t.name }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}

        </div>

        <div class="col-md-6">
            <h3>All Workflows configurations</h3>
            {% for code, config in workflowsConfiguration %}
                <h4>{{ code }}</h4>
                <ul>
                    <li>
                        Initial Marking: {{ config.initial_marking|join(',') }}

                    </li>
                    <li>
                        Places: {{ config.places|map( (place) => place.name)|join(',') }}
                    </li>
                    <li>
                        Supports: {{ config.supports|join(',') }}
                    </li>

                </ul>
                {#                            {{ dump(config) }} #}
                {#                            {% for workflow in workflowsInClass %} #}
                {#                                <h4>Workflow: {{ workflow.name }}, class: {{ class }}</h4> #}
                {#                                <ul> #}
                {#                                    {% for place in workflow.definition.places %} #}
                {#                                        <li>{{ place }}</li> #}
                {#                                    {% endfor %} #}
                {#                                </ul> #}
                {#                            {% endfor %} #}
            {% endfor %}
        </div>
    </div>

{% endblock %}
